nav {
    min-height: 70.64px;
    z-index: 1000;
    top: 0;
}

.navbar-brand {
    margin-left: 16px;
}

.nav-item {
    margin-left: 15px;
}

main {
    background-color: #FFCE5C;
    padding-top: 70px;
    width: 100%;
}

.nav-container {
    background-color: #FFCE5C;
}

.row-head {
    background-color: #FFCE5C;
    padding: 100px;
    padding-top: 120px;
}

.row-mid {
    background-color: #E9E9E9;
}

.row-end {
    background-color: #FC813C;
}

.row-footer {
    background-color: #343F4B;
}

.row-mid > .signup-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.btn {
    border-radius: 32px; 
}

.back-btn {
    width: 43px;
    height: 55px;
    margin-left: 50px;
}

.headline-container {
    margin: auto;
}

.btn-primary {
    background-color: #00A6FF;
}

.btn-primary:hover {
    background-color: #0B52AF;
}

.headline {
    color: #0B52AF;
    font-family: Montserrat, sans-serif;
    font-size: 7vw;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 7vw;
    text-align: center;
    margin: auto;
}

.name {
    margin-top: 135px;
    margin-left: 32px;
    text-align: left;
}

a {
    color: #00A6FF;
    font-family: Varela Round, sans-se;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 39px;
    text-align: left;
}

.main-icon {
    fill: #00A6FF;
}

a:hover {
    color: #0B52AF;
}

.main-icon:hover {
    fill: #0B52AF;
}

.card-info {
    position: absolute;
    margin: auto;
    margin-top: 50px;
    z-index: 10;
    min-width: 15rem;
}

.card-info, .card-gallery {
    border-radius: 32px;
}

.card-gallery {
    margin: 0;
}

.gallery-row {
    margin-bottom: 115px;
}

.card-info img, .card-gallery img {
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.card-info .card-title {
    color: #5A6978;
    font-family: Josefin Sans;
    font-size: 34px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 44px;
    text-align: left;
    margin-bottom: -5px;
}

.card-info .card-text {
    color: rgb(96, 98, 102);
    font-family: Lato;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    margin-left: 5px;
}

.card-info .icon {
    border-radius: 0px;
    width: 24px;
    margin-right: 10px;
}

.card-info .contact-link {
    color: rgb(96, 98, 102);
    font-family: Lato;
    font-size: 0.7em;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    width: 100%;
}

.info-item {
    display: block;
}

.card-info .card-body {
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-info br {
    margin-top: -20px;
}

.detail-pane {
    padding-top: 100px;
    padding-bottom: 42px;
}

.detail-pane .category {
    margin-bottom: 32px;
}

.detail-pane h3 {
    color: #0B52AF;
    font-family: Josefin Sans;
    font-size: 34px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 44px;
    text-align: right;
    margin-bottom: -5px;
    margin-right: 25px;
    padding-left: 0;
}

.detail-pane h4 {
    color: #47525E;
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
    text-align: left;
    margin-bottom: 3px;
}

.detail-pane span {
    width: 100%;
}

.detail-pane .progress {
    width: 50%;
    background-color: rgba(150, 159, 170, 0.52);
    border-radius: 100px;
    margin-top: 12px;
}

.detail-pane .progress-bar {
    background-color: #FFBA5C;
    border-radius: 100px;
}

.detail-pane .detail {
    color: #47525E;
    font-family: Lato;
    font-size: 26px;
    font-style: italic;
    font-weight: 300;
    line-height: 33px;
    text-align: left;
    width: 100%;
    margin-bottom: 3px;
}

.detail-pane .more {
    color: #47525E;
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    line-height: 31px;
    width: 100%;
    text-align: left;
}

.detail-pane a {
    float: right;
}

.row-end {
    padding: 115px;
    padding-bottom: 0px;
}

.card-gallery {
    margin: auto;
    size: 150%;
}

.card-gallery .card-text {
    color: rgb(96, 98, 102);
    font-family: Lato;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.row-footer p {
    color: rgb(180, 183, 189);
    font-family: Lato;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 0px;
}

.signup-card {
    margin: auto;
    border-radius: 32px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 30rem;
}

.submit-btn {
    width: 100%;
}

.empty {
    padding: 10px;
}

form {
    margin-bottom: 0;
}

.no-gutters {
    padding-left: 0;
}

footer {
    position: relative;
    bottom: 0;
    width:100%
}

.full {
    min-height: 100%;
}

#top-shadow {
    position: absolute;
    left: 0;
    margin-top: -10px;
    width: 100%;
    height: 10px;
    z-index: 999;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    display: none;
}

.material-link {
    color: #00A6FF;
    font-size: 38px;
    line-height: 39px;
}

.material-link:hover {
    color: #0B52AF;
}

@media (max-width: 992px) {
    .card-info {
        position: relative;
        margin-top: 150px;
        width: 90%;
    }

    .row-head, .row-end {
        padding-left: 0;
        padding-right: 0;
    }
    
    .headline {
        font-size: 15vw;
    }

    .name {
        margin: 0;
        margin-left: 15px;
        line-height: 10vw;
        font-size: 10vw;
    }

    .detail-pane .progress {
        width: 85%;
        margin-top: 0;
        margin-left: -15px;
    }

    .signup-card {
        width: 100%;
    }

    .detail-pane h3 , .detail-pane .detail-content {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .detail-pane h3 {
        text-align: left;
    }
}
