@keyframes slideInFromBelow {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    35% {
      opacity: 1;
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes slideInFromAbove {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInBelow {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.925);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.card-info {
  animation: 2s ease-out 0s 1 slideInFromBelow;
}

.head-anim {
  animation: 2s ease-in-out 0s 1 appear;
}

.nav-anim {
  animation: 2s ease-out 0s 1 slideInFromAbove;
}

.content-anim {
  animation: 2s ease-out 0s 1 fadeInBelow;
}
