{% extends "story4/_base.html" %}
{% load static %}

{% block prefix %}Signup - {% endblock %}

{% block content %}
<main>
    <div class="row-head">
        <h1 class="headline center head-anim">SIGN UP</h1>
    </div>
    <div class="row-mid full">
        <div class="container signup-container content-anim">
            <div class="card shadow signup-card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">
                                        <i class="material-icons">account_circle</i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="inputName" placeholder="Full Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">
                                        <i class="material-icons">calendar_today</i>
                                    </span>
                                </div>
                                <input type='text' class="form-control" id="datepicker" placeholder="Birthdate" onfocus="(this.type='date')"
                                    onblur="(this.type='text')" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">
                                        <i class="material-icons">email</i>
                                    </span>
                                </div>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend">
                                            <i class="material-icons">alternate_email</i>
                                        </span>
                                </div>
                                <input type="text" class="form-control" id="inputUsername" placeholder="Username" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">
                                        <i class="material-icons">vpn_key</i>
                                    </span>
                                </div>
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                                    required>
                                <input type="password" class="form-control" id="inputPasswordVer" placeholder="Re-enter"
                                    required>
                            </div>
                        </div>
                        <button type="submit" class="btn submit-btn btn-primary">sign up!</button>
                    </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row-end empty"></div>
</main>

{% endblock %}