{% extends "story5/_base.html" %}
{% load static %}

{% block back_url %}schedule{% endblock %}

{% block prefix %}Add Schedule - {% endblock %}

{% block content %}
<main>
    <div class="row-head">
        <h1 class="headline center head-anim">ADD SCHEDULE</h1>
    </div>
    <div class="row-mid">
        <div class="container content-anim">
            <div class="card shadow signup-card">
                <div class="card-body">
                    <form method="POST" action="{% url 'schedule-save' %}">
                        {% csrf_token %}
                        {{ schedule_form.non_field_errors }}
                        <div class="form-group">
                            <div class="input-group" data-toggle="tooltip" data-placement="right" title="Event Name">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">
                                        <i class="material-icons">create</i>
                                    </span>
                                </div>
                                <!-- <input type="text" class="form-control" id="inputName" placeholder="Activity Name" required> -->
                                {{ schedule_form.name }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group" data-toggle="tooltip" data-placement="right" title="Date and Time of Event">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">
                                        <i class="material-icons">calendar_today</i>
                                    </span>
                                </div>
                                <!-- <input type='text' class="form-control" id="datetimepicker" placeholder="Date and Time" onfocus="(this.type='date')"
                                    onblur="(this.type='text')" required> -->
                                {{ schedule_form.date }}
                                {{ schedule_form.time }}
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <div class="input-group" data-toggle="tooltip" data-placement="right" title="Time of Event">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">
                                        <i class="material-icons">schedule</i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="inputEmail" placeholder="Location" required>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <div class="input-group" data-toggle="tooltip" data-placement="right" title="Event Location">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">
                                        <i class="material-icons">location_on</i>
                                    </span>
                                </div>
                                <!-- <input type="text" class="form-control" id="inputEmail" placeholder="Location" required> -->
                                {{ schedule_form.location }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group" data-toggle="tooltip" data-placement="right" title="Event Category">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">
                                        <i class="material-icons">local_offer</i>
                                    </span>
                                </div>
                                <!-- <input type="text" class="form-control" id="inputEmail" placeholder="Location" required> -->
                                {{ schedule_form.category }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group" data-toggle="tooltip" data-placement="right" title="Event Description">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">
                                        <i class="material-icons">description</i>
                                    </span>
                                </div>
                                {{ schedule_form.desc }}
                            </div>
                        </div>
                        <button type="submit" class="btn submit-btn btn-primary">add event!</button>
                    </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row-end empty"></div>
</main>

{% endblock %}