.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    z-index:999099;
    transition: opacity 1s ease;
}

.loading .main-icon {
    opacity: 0;
}

.loading.hide {
    opacity: 0;
    pointer-events: none;
}

.loading-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index:999100;
    transform: scale(3);
}
.theme-set, .theme {
    transition: all 0.5s ease-in-out;
}

nav {
    min-height: 70.64px;
    z-index: 1000;
    top: 0;
}

.navbar-brand {
    margin-left: 16px;
}

.nav-item {
    margin-left: 15px;
}

main {
    padding-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-container, .row-head, main {
    background-color: #FFCE5C;
}

.row-head {
    padding: 100px;
    padding-top: 120px;
}

.nav-container.theme-set, .row-head.theme-set, main.theme-set{
    background-color: #0B52AF;
}

.row-mid {
    background-color: #E9E9E9;
    flex-grow: 1;
}

.row-end {
    background-color: #FC813C;
}

.row-end.theme-set {
    background-color: rgb(60, 182, 252);
}

.row-footer {
    background-color: #343F4B;
}

.row-mid > .signup-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.btn {
    border-radius: 32px; 
}

.back-btn {
    width: 43px;
    height: 55px;
    margin-left: 50px;
}

.headline-container {
    margin: auto;
}

.btn-primary {
    background-color: #00A6FF;
}

.btn-primary:hover {
    background-color: #0B52AF;
}

.headline {
    color: #0B52AF;
    font-family: Montserrat, sans-serif;
    font-size: 7vw;
    font-weight: 700;
    letter-spacing: 5px;
    /* line-height: 7vw; */
    text-align: center;
    margin: auto;
}

.headline.theme-set {
    color: #FFCE5C;
}

.headline-small {
    font-size: 4vw;
}

.name {
    margin-top: 135px;
    margin-left: 32px;
    text-align: left;
}

a {
    color: #00A6FF;
    font-family: Varela Round, sans-se;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 39px;
    text-align: left;
}

.main-icon {
    fill: #00A6FF;
}

.material-link {
    color: #00A6FF;
    font-size: 38px;
    line-height: 39px;
}

.main-icon.theme-set {
    fill: #FFCE5C;
}

a.theme-set, .material-link.theme-set {
    color: #FFCE5C;
}

.main-icon:hover, a:hover {
    fill: #0B52AF;
}

a:hover, .material-link:hover {
    color: #0B52AF;
    transition: all 0.5s ease;
}

.main-icon:hover.theme-set {
    fill: #FC813C;
    text-decoration: none;
}

a:hover.theme-set, .material-link:hover.theme-set {
    color: #FC813C;
}

.card-info {
    position: absolute;
    margin: auto;
    margin-top: 50px;
    z-index: 10;
    min-width: 15rem;
}

.card-info, .card-gallery {
    border-radius: 32px;
}

.card-gallery {
    margin: 0;
}

.gallery-row {
    margin-bottom: 115px;
}

.card-info img, .card-gallery img {
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.card-info .card-title {
    color: #5A6978;
    font-family: Josefin Sans;
    font-size: 34px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 44px;
    text-align: left;
    margin-bottom: -5px;
}

.card-info .card-text {
    color: rgb(96, 98, 102);
    font-family: Lato;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    margin-left: 5px;
}

.card-info .icon {
    border-radius: 0px;
    width: 24px;
    margin-right: 10px;
}

.card-info .contact-link {
    color: rgb(96, 98, 102);
    font-family: Lato;
    font-size: 0.7em;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    width: 100%;
}

.info-item {
    display: block;
}

.card-info .card-body {
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-info br {
    margin-top: -20px;
}

.detail-pane, .schedule-pane {
    padding-top: 100px;
    padding-bottom: 42px;
}

.detail-pane .category, .schedule-pane .category {
    margin-bottom: 32px;
}

.detail-pane h3 {
    color: #0B52AF;
    font-family: Josefin Sans;
    font-size: 34px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 44px;
    text-align: right;
    margin-bottom: -5px;
    margin-right: 25px;
    padding-left: 0;
}

.detail-pane h4, .schedule-name {
    color: #47525E;
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
    text-align: left;
    margin-bottom: 3px;
}

.detail-pane .progress {
    width: 50%;
    background-color: rgba(150, 159, 170, 0.52);
    border-radius: 100px;
    margin-top: 12px;
}

.detail-pane .progress-bar {
    background-color: #FFBA5C;
    border-radius: 100px;
}

.detail-pane .detail, .schedule-detail {
    color: #47525E;
    font-family: Lato;
    font-size: 28px;
    font-style: italic;
    font-weight: 300;
    line-height: 33px;
    text-align: left;
    width: 100%;
    margin-bottom: 3px;
}

.detail-pane .more {
    color: #47525E;
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    line-height: 31px;
    width: 100%;
    text-align: left;
}

.detail-pane a {
    float: right;
}

.row-end {
    padding: 115px;
    padding-bottom: 0px;
}

.card-gallery {
    margin: auto;
    size: 150%;
}

.card-gallery .card-text {
    color: rgb(96, 98, 102);
    font-family: Lato;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.row-footer p {
    color: rgb(180, 183, 189);
    font-family: Lato;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 0px;
}

.signup-card {
    margin: auto;
    border-radius: 32px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 30rem;
}

.status-card {
    margin: auto;
    border-radius: 32px;
    padding: 10px;
    margin-top: 15px;
    width: 50%;
}

.list-card {
    margin: auto;
    border-radius: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 90%;
    overflow: hidden;
}

.table {
    margin: 0;
}

.table td, .table th {
    border-top: none;
}

.table tr.book-item {
    cursor: pointer;
}

.loader {
    padding: 50px 50%;
}

.alert {
    margin: 50px 50px;
    border-radius: 32px;
}

.search-card {
    border-radius:32px;
    margin: auto;
    margin-top: 64px;
}

.favourite-count-card {
    border-radius:32px;
    margin: auto;
    margin-top: 24px;
}

.favourite-count {
    display: inline;
    vertical-align: top;
    line-height: 28px;
    margin-left: 15px;
    margin-right: 5px;
}

.favourite-star {
    transition: color 0.25s, transform 1s;
    color: #888;
    cursor: pointer;
    font-size: 1.8em;
}

.favourite-star:hover {
    color: rgb(202, 164, 75);
}

.favourite-star:active {
    transform: scale(1.2);
}

.favourite-star.favourited {
    color: #FFCE5C;
}

.submit-btn {
    width: 100%;
}

.empty {
    padding: 10px;
}

form {
    margin-bottom: 0;
}

.input-group {
    border-radius: 32px;
}

.no-gutters {
    padding-left: 0;
}

footer {
    position: relative;
    bottom: 0;
    width:100%
}

.full {
    min-height: 100%;
}

#top-shadow {
    position: absolute;
    left: 0;
    margin-top: -10px;
    width: 100%;
    height: 10px;
    z-index: 999;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    display: none;
}

.schedule-pane {
    padding-bottom: 82px;
}

.schedule-pane > .row {
    margin-bottom: 64px;
}

.schedule-item {
    width: 75%;
    border-radius: 32px;
    margin: auto;
}

.schedule-name {
    text-align: right
    
}

.schedule-title-area span {
    float: right;
}

.schedule-detail {
    font-size: 20px;
    padding-top: 5px;
}

.schedule-desc {
    margin-top: 10px;
    font-size: 20px;
    font-family: Lato;
}

.light-notify {
    margin-top: 50px;
    margin-bottom: 75px;
    font-style: italic;
    font-weight: 400;
    color: gray;
    text-align: center;
}

.left-float {
    float: left;
}

.right-float {
    float: right;
}

.negative {
    color: red;
}

.negative:hover {
    color: rgb(128, 0, 0);
}

.badge {
    font-size: 14px;
}

.badge-icon {
    font-size: 14;
    vertical-align: top;
}

.badge[Busy] {
    background-color: rgb(151, 43, 29);
}

.badge[Free] {
    background-color: #3ac41e;
}

.badge[Tentative] {
    background-color: #FC813C;
}

.badge[Priority] {
    background-color: #0B52AF;
}

.lead {
    text-align: center;
}

.status-item {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.accordion {
    width: 80%;
    margin: auto;
}

.accordion > .card > .card-header {
    background-color: #00000000;
    border-bottom: #00000000;
}

.accordion > .card > * > .card-body {
    margin: 0 40px;
}

.expandable {
    max-height: 0%;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.uncollapsed {
    max-height: 100%;
}

.accordion-top {
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.accordion-bottom {
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.popover {
    z-index: 0;
}

input {
    border-radius: 32px;
}

.login-btn {
    background-image: "../img/google_normal.png";
}

@media (max-width: 992px) {
    .card-info {
        position: relative;
        margin-top: 150px;
        width: 90%;
    }

    .row-head, .row-end {
        padding-left: 0;
        padding-right: 0;
    }
    
    .headline {
        font-size: 15vw;
    }

    .headline-small {
        font-size: 8vw;
    }

    .name {
        margin: 0;
        margin-left: 15px;
        line-height: 10vw;
        font-size: 10vw;
    }

    .detail-pane .progress {
        width: 85%;
        margin-top: 0;
        margin-left: -15px;
    }

    .signup-card {
        width: 100%;
    }

    .detail-pane h3 , .detail-pane .detail-content {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .detail-pane h3 {
        text-align: left;
    }

    .schedule-name {
        text-align: left;
    }

    .schedule-title-area span {
        float: none;
        vertical-align: super;
        margin-left: 10px;
    }

    .schedule-name {
        display: inline;
    }

    .schedule-detail {
        padding-top: 0;
    }

    .status-item {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .status-card {
        width: 75%;
    }
}

/* @media (max-width: 768px) {
    .btn {
        width: 100%;
    }
} */
