{% extends "story11/_base.html" %}
{% load static %}

{% block prefix %}{% endblock %}

{% block content %}

<main class="theme" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <section class="row-center home theme" id="me">
    <div class="container">
      <div class="row">
        <div class="headline-container">
          <h1 class="headline center head-anim theme">hello?</h1>
          <a href="{% url 'social:begin' 'google-oauth2' %}">
            <div class="login-btn head-anim"></div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="row-end empty theme" id="look"></section>
</main>

{% endblock %}